// Colors

$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #c4c4c4;

$special-lightgrey: #e8ebed;
$special-blue: #90bce8;
$special-orange: #febf26;
$special-darkgrey: #a2a9b7;
$special-green: #e3ebd3;
$special-peach: #ffaa87;
$special-purple: #c7abd4;
$special-red: #f55e62;
$special-grey: #f1f3f5;
$special-ultralightgrey: #dbdbdb;
$special-middlegrey: #696969;
$special-darkblue: #0f54b9;


// Viewports

$tablet-width: 481px;
$desktop-width: 768px;
